<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{dj}}</title>
</head>
<body>
    <h3>Intro To Django</h3>
    <img src="{% static 'django.png' %}" alt="Django">
    <img src="{% get_static_prefix %}django.png" alt="Django">
    
    <hr>
    <form action="">
        <input type="button" value="Click Me" onclick="disp()" />
    </form>
    
    <script src="{% static 'all.js' %}"></script>
</body>
</html>